.about-us {
    margin-bottom: 120px;

    text-align: center;
}

.about-us .about-us-title {
    margin: 0 0 32px;
    padding: 18px 40px;

    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
    letter-spacing: -3.36px;
    color: var(--text-dark);

    background-image: url("../../icons/bg-grey.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-us .about-us-description {
    max-width: 750px;
    margin: 0 auto;

    line-height: 1.83;
    color: var(--text-dark);
}