.intro {
    margin-top: 50px;

    text-align: center;
}

.intro .intro-title {
    margin-bottom: 10px;

    font-size: 80px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -3.2px;
    color: var(--text-dark);
}

.intro .intro-title-results {
    margin-bottom: 40px;
}

.intro-title .text-accent {
    font-weight: bold;
    font-style: italic;
    letter-spacing: -5.6px;
}

.intro .intro-description {
    margin: 0 auto;
    max-width: 860px;

    line-height: 1.39;
    color: var(--text-dark);
}

.intro-description svg {
    display: inline-block;
    vertical-align: middle;
}

.intro .intro-description span {
    font-style: italic;
}

.intro .intro-description a span {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .intro {
        margin-top: 40px;
    }

    .intro .intro-title {
        font-size: 64px;
        letter-spacing: -2px;
    }

    .intro-title .text-accent {
        letter-spacing: -3px;
    }
}

@media (max-width: 768px) {
    .intro .intro-title {
        font-size: 48px;
    }

    .intro .intro-title-results {
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    .intro {
        margin-top: 32px;
    }

    .intro .intro-title {
        font-size: 36px;
        letter-spacing: -1px;
    }

    .intro-title .text-accent {
        letter-spacing: -1.6px;
    }

    .intro .intro-description {
        font-size: 16px;
        line-height: 1.5;
    }
}
