.pet-parent {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    text-align: center;
}

.pet-parent-text-wrapper {
    margin-right: 60px;
}

.pet-parent .pet-parent-title {
    margin-bottom: 20px;

    text-align: left;
    font-size: 24px;
    font-style: normal;
    line-height: 1.04;
    color: #013540;
    text-transform: uppercase;
}

.pet-parent-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pet-parent-list li {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    width: 680px;
    padding: 10px 16px;
    border-radius: 12px;
    box-shadow:
            0 1px 5px 0 rgba(2, 51, 33, 0.02),
            0 6px 18px 0 rgba(2, 51, 33, 0.03),
            0 15px 40px 0 rgba(2, 51, 33, 0.04);
    background-color: #fff;
}

.pet-parent-list p {
    margin-left: 16px;

    text-align: left;
}

.pet-parent-image-wrapper {
    position: relative;

    margin-top: 25px;
}

.pet-parent-description-wrapper {
    position: absolute;
    bottom: -10px;
    right: -15px;
    box-sizing: border-box;

    width: 293px;
    padding: 20px 10px;

    background-image: url("../../icons/form-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.pet-parent-description-wrapper a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.pet-parent-description-wrapper a span {
    margin-left: 4px;

    text-decoration: underline;
}
